/myapp/.phpunit.cache
/myapp/node_modules
/myapp/public/build
/myapp/public/hot
/myapp/public/storage
/myapp/storage/*.key
/myapp/storage/pail
/myapp/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed